html, body {
	margin: 0;
	background-color: #343434;
}

div {
	position: relative;
	display: flex;
	margin-left: 5vw;
	margin-right: 5vw;
	align-items: center;
	justify-content: center;
	height: 100vh;
}

p {
	font-family: 'Segoe UI', 'Roboto', sans-serif;
	font-size: 2em;
	color: rgb(255,255,255);
	text-align: center;
	cursor: pointer;
}